<ol data-testid="pages-nav">
  <% pages.each do |(page, child_pages)| %>
    <li>
      <a href="<%= page.url_path %>">
        <%= page.title %>
      </a>
      <% if child_pages.any? %>
        <%= render "doc_pages/pages_nav", pages: child_pages %>
      <% end %>
    </li>
  <% end %>
</ol>
