<h1>Hanami</h1>

<p>This is the in-development next version for the <a href="https://hanamirb.org">Hanami</a> website.<p>

<p>This new site will be the all-in-one home for everything to do with <a href="https://hanamirb.org">Hanami</a>, <a href="https://dry-rb.org">dry-rb</a> and <a href="https://rom-rb.org">ROM</a>.

<p>(If you're the DocSearch/Algolia people reviewing our application, this site is legitimate. I need to develop search as part of building this new site. Thank you!)</p>
