<h1>Hanami</h1>

<p>This is the in-development next version for the <a href="https://hanamirb.org">Hanami</a> website.</p>

<p>This new site will be the all-in-one home for everything to do with <a href="https://hanamirb.org">Hanami</a>, <a href="https://dry-rb.org">Dry</a> and <a href="https://rom-rb.org">Rom</a>.</p>
