<% content_for :title, "Docs" %>

<h1>Docs</h1>

<h2>Dry</h2>

<ol data-testid="dry-docs">
  <% docs.fetch("dry").each do |doc| %>
    <li>
      <a href="<%= doc.url_path %>"><%= doc.slug %></a>
    </li>
  <% end %>
</ol>
