<h1>Guide: <%= guide.slug %></h1>

<h1>Page: <%= page.title %></h1>

<ol data-testid="guide-toc">
  <% guide.pages.all.each do |page| %>
    <li><%= page.title %></li>
  <% end %>
</ol>

<%= page.content_html %>
